<div class="login-form" >
    <h2 class="text-center" >Facebook</h2>
    <%=form_with(scope: :session, url:sessions_path, local:true) do |f|%>
    <div class="form" >
        <div class="form-group" >
            <div class="form-control" >
                 <%=f.email_field :email, placeholder: "Email" %>
            </div>
            <div class="form-control" >
                <%= f.password_field :password, placeholder: "Password" %>
            </div>
        </div>
        <div class="form-group">
            <div class="btn btn-default btn-block" ><%= f.submit "Login" %></div>
        </div>
        <p class="text-center" ><a href="#">Forgot Password?</a></p>
    </div>
    <% end %>
    <p class="text-center small" >Not Registered?<%= link_to "Create an Account", new_user_path %></p>
</div>
