<% if @user.errors.any? %>
<div id="error_explanation" >
<h2><%=pluralize(@user.errors.count, "error") %> prohibited this <%=@user.name%> from being saved:</h2>
<ul>
<% @user.errors.full_messages.each do |message| %>
    <li><%=message%> </li>
    <% end %>
</ul>
</div>
<% end %>

<div class="signup-form" >
    <div class="form">
        <%= form_with(model: @user, local: true) do |f| %>
        <h2>Create an Account</h2>
        <div class="form-group">
            <div class="form-control input-lg">
                <%= f.text_field :name, placeholder: "Username" %>
            </div>
        </div>
        <div class="form-group">
            <div class="form-control input-lg">
                <%= f.email_field :email, placeholder: "Email" %>
            </div>
        </div>
        <div class="form-group">
            <div class="form-control input-lg">
                <%= f.password_field :password, placeholder: "Password" %>
            </div>
        </div>
        <div class="form-group">
            <div class="form-control input-lg">
                <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>
            </div>
        </div>
        <div class="form-group">
            <div class="form-control input-lg">
                <%= f.submit "Signup" %>
            </div>
        </div>
        <% end %>
    </div>
    <div class="text-center">Already have an account? <a href="#">Login here</a></div>
</div>